.product--details {
  .product--details--left--section {
    img {
      width: 100% !important;
      height: auto;
    }
  }
  .fa-star {
    font-size: 16px;
    color: #e3c043;
  }
  .product--details--middle--section {
    .link--to--pages {
      .link {
        text-decoration: none;
        font-size: 22px;
      }
      span {
        font-size: 22px;
      }
    }
    .link:hover {
      text-decoration: underline;
    }
    .game--properties--section {
      .link {
        text-decoration: none;
        font-size: 14px;
      }
      .link:hover {
        text-decoration: underline;
      }
    }
  }
  .product--details--right--section {
    // margin-top: 150px;
    .share--section {
      .link {
        text-decoration: none;
        font-size: 18px;
        margin-left: 6px;
      }
      .link:hover {
        text-decoration: underline;
      }
      .share--right--section {
        font-size: 18px;
      }
    }
  }
  .long--description--section {
    h1 {
      font-size: 46px;
    }
    p {
      font-size: 20px;
      letter-spacing: 0.8px;
    }
    iframe {
      width: 100%;
    }
  }
  .specification--section {
    .overview--inner--section {
      .left-section {
        h6 {
          font-weight: bold;
          line-height: 3;
          font-size: 16px;
        }
      }
      .right-section {
        p {
          line-height: 2.4;
          font-size: 16px;
        }
      }
    }
    .language--inner--section {
      .left-section {
        h6 {
          font-weight: bold;
          line-height: 4;
          font-size: 16px;
        }
      }
      .right-section {
        p {
          line-height: 2.2;
          font-size: 16px;
        }
      }
    }
  }
  .review--section {
    .review--inner--section {
      min-height: 250px;
      padding: 24px !important;
      border: 1px solid rgb(223, 222, 222);
      border-radius: 12px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .thumbs--section {
        .fa-thumbs-up {
          cursor: pointer;
        }
        .fa-thumbs-down {
          cursor: pointer;
        }
        .fa-thumbs-up:hover {
          color: green;
        }
        .fa-thumbs-down:hover {
          color: red;
        }
      }
    }
  }
}
