.navbar {
  .hamburger-menu{
    font-size: 36px;
    border: none!important;
    outline: none!important;
  }
  .header-end-section {
    .social-media {
      i {
        cursor: pointer;
        font-size: 18px;
        border-radius: 50%;
        padding: 12px;
        transition: 0.5s ease;
      }
      .fa-instagram:hover {
        background-color: brown;
        color: white;
      }
      .fa-youtube:hover {
        background-color: red;
        color: white;
      }
      .fa-tiktok:hover {
        background-color: #000000;
        color: white;
      }
      .fa-discord:hover {
        background-color: rgb(59, 59, 207);
        color: white;
      }
    }
    .header-user-section {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 18px;
      }
      .mode--change {
        cursor: pointer;
      }
    }
  }
  .search--icon--section {
    // width: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-bar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 60px;
      padding: 6px 10px;
      border: 1px solid rgb(157, 154, 154);
      .search--bar--section {
        width: 100%;
      }
      input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        font-size: 20px;
        color: #cac7ff;
      }
      ::placeholder {
        color: rgb(157, 154, 154);
        font-size: 14px;
      }
      .search--button {
        border: 0;
        border-radius: 50%;
        background-color: rgb(109, 78, 236);
        cursor: pointer;
        padding: 6px;
        i {
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
@media screen and (max-width: 1370px) {
  .social-media,
  .header-user-section {
    display: none;
  }
}
.img-header {
  width: 750px;
  height: 400px;
}
.modal {
  a {
    text-decoration: none !important;
  }
}
