.slider-container {
  .slider-container-header-section {
    .btn {
      width: auto;
      font-size: 16px;
      border-radius: 12px;
      height: 36px;
      margin-right: 14px;
    }
  }
  .shop--all--button {
    text-decoration: none;
  }
}
