.single--product--sale {
  .card {
    border: none !important;
    padding: 0;
    background-color: transparent !important;
    cursor: pointer;
    .hot {
      position: absolute;
      font-size: 12px;
      font-weight: bolder;
      border-radius: 12px;
      margin: 6px;
      padding: 4px 12px;
    }
    img {
      width: auto;
    }
    .add--to--cart--section {
      position: absolute;
      transition: 0.3s ease-in-out;
      top: 12px;
      right: 0;
      padding: 14px;
      background-color: #000000;
      z-index: -1;
      opacity: 0.5;
    }
  }
  .card-bottom {
    .card--bottom--title {
      .product--title {
        font-size: 16px;
      }
      .rating--section {
        font-size: 16px;
        .fa-star {
          font-size: 16px;
          color: #e3c043;
        }
      }
    }
  }
}
.single--product--sale :hover .add--to--cart--section {
  top: 12px;
  right: 12px;
  z-index: 99;
  opacity: 1;
}
