@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
html {
  overflow-x: hidden !important;
}
@import "Header";
@import "Footer";
@import "Home";
@import "Responsive_categories";
@import "Responsive_TopSellers";
@import "Responsive_Hero";
@import "Hero";
@import "Description";
@import "SingleProduct";
@import "SingleProduct2";
@import "About";
@import "Responsive_AboutUs";
@import "Contact";
@import "Sale";
@import "StarWars";
@import "Accordion";
@import "DiscoverAll";
@import "Login";
@import "Register";
@import "Account";
@import "ForgotPassword";
@import "FAQs";
@import "ProductDetails";
@import "SingleProductSale";
@import "PrivacyPolicy";
@import "Cart";
@import "Campaign";
@import "Blog";
@import "BlogDetails";
@import "Wishlist";
@import "Checkout";
@import "NotebookAdv";

:root {
  --header-background-dark: #212121;
  --header-background-light: #e0dede;
  --header-text-dark: #ffffff;
  --header-text-light: #000000;
  --icon-background: #646464;
  --body-background-dark: #1a1a1a;
  --body-background-light: #ffffff;
  --footer-background-light: #f7f7f7;
  --icon-background-color-light: #efefef;
  --icon-background-color-dark: #646464;
  --hero-text-color: #d3d4d7;
}

//  DARK MODE COLORS
.dark {
  background-color: var(--body-background-dark);
  color: var(--header-text-dark);
  .nav-link,
  .product--title,
  .ant-collapse-header-text,
  .ant-collapse-content-box,
  .ant-collapse-expand-icon {
    color: var(--header-text-dark) !important;
  }
  .navbar,
  .footer,
  .single--product-2,
  .popular--by--category--section,
  .starwars--right--section,
  .login--header--section,
  .specification--section,
  .product--details--section,
  .privacy--policy--section,
  .cart--top--section,
  .cart--right--section,
  .blog--top--title,
  .blog--details--top--section,
  .about-text,
  .sale--section--bottom--left,
  .checkout--top--section,
  .checkout--bottom--right--section {
    background-color: var(--header-background-dark) !important;
    color: var(--header-text-dark);
  }
  i,
  .link {
    color: var(--header-text-dark);
  }
  .social-media-icon {
    i {
      background-color: var(--icon-background-color-dark);
    }
  }
  .slider-container--hero {
    color: var(--hero-text-color);
  }
  .hot,
  .ant-collapse-content-box,
  .blog--top--section {
    background-color: var(--body-background-dark);
    color: var(--header-text-dark);
  }
  .read--more--button {
    color: var(--header-text-dark);
  }
  .cart--is--empty,
  .profile--icon,
  .marquee--image {
    filter: invert(0.899);
  }
  .fa-eye {
    color: var(--header-text-light);
  }
  .add--to--cart--section {
    background-color: var(--header-text-light);
    color: var(--header-text-dark);
  }
}

// LIGHT MODE COLORS
.light {
  body {
    background-color: var(--body-background-light);
    color: var(--header-text-light);
  }
  .navbar,
  .specification--section,
  .product--details--section,
  .privacy--policy--section,
  .cart--top--section,
  .cart--right--section,
  .blog--top--title,
  .blog--details--top--section,
  .about-text,
  .sale--section--bottom--left,
  .checkout--top--section,
  .checkout--bottom--right--section {
    background-color: var(--footer-background-light) !important;
    color: var(--header-text-light);
  }
  .footer,
  .single--product-2,
  .popular--by--category--section,
  .starwars--right--section,
  .login--header--section {
    background-color: var(--footer-background-light);
    color: var(--header-text-light);
  }
  .nav-link,
  .product--title,
  .ant-collapse-header-text,
  .ant-collapse-content-box,
  .ant-collapse-expand-icon {
    color: var(--header-text-light);
  }
  i,
  .link {
    color: var(--header-text-light);
  }
  .social-media-icon {
    i {
      background-color: var(--icon-background-color-light);
    }
  }
  .slider-container--hero {
    color: var(--hero-text-color);
  }
  .hot,
  .ant-collapse-content-box,
  .blog--top--section {
    background-color: var(--body-background-light);
    color: var(--header-text-light);
  }
  .woodmart--logo,
  .starwars--jedi--survivor,
  .starwars--section--platforms {
    filter: invert(1);
  }
  .read--more--button {
    color: var(--header-text-light);
  }
  .add--to--cart--section {
    background-color: var(--icon-background-color-light);
    color: var(--header-text-light);
  }
}

body {
  overflow-x: hidden;
  font-family: "Cabin", sans-serif !important;
}
.slick-arrow {
  display: none !important;
}

// PRICE Colors
.product--title {
  text-decoration: none !important;
  transition: 0.3s ease;
}
.product--title:hover {
  color: #bebcbc !important;
}

.product--price {
  color: rgb(109, 78, 236);
}

.discounted--price {
  color: #929292;
}

.product--title {
  text-decoration: none !important;
}

// BUTTON Config.
.button {
  background-color: rgb(109, 78, 236);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 9px 22px;
  border-radius: 35px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  text-shadow: none;
  line-height: 2;
  transition: 0.2s ease;
}
.button:hover {
  background-color: rgb(97, 62, 235);
}
// Top To Scroll button
.top--to--scroll:hover {
  background-color: #ffffff !important;
}
.top--to--scroll--icon {
  color: #ffffff !important;
}
.top--to--scroll:hover .top--to--scroll--icon {
  color: rgb(97, 62, 235) !important;
}

// PACMAN LOADER
.pacman-loader {
  .pacman {
    height: 100vh;
  }
}
// Swal-button config.
.swal-button {
  background-color: rgb(109, 78, 236);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 35px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  text-shadow: none;
  line-height: 2;
  transition: 0.2s ease;
}
.swal-button:hover {
  background-color: rgb(97, 62, 235) !important;
}

// Video Section
.main--video {
  position: relative;
  width: 97.5%;
  height: 100vh;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
}
//  MARQUEE Section
.marquee--section {
  display: flex;
  align-items: center;
  gap: 100px;
  img {
    width: 90px;
  }
}
@media screen and (min-width: 1700px) {
  body {
    max-width: 1700px !important;
    margin: 0 auto !important;
  }
}
